.profile-cont {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.avatar-p {
  border-radius: 50%;
  text-align: center;
  width: 100%;

  img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
  }
}

p:has(.headline) {
  font-size: 18px;

  .headline {
    font-weight: bold;
    margin-bottom: 10px;
    display: inline-block;
  }
}
