<div class="profile-cont">
  <ng-container>
    <p class="avatar-p">
      <img src="https://thumbs.dreamstime.com/b/default-avatar-profile-flat-icon-social-media-user-vector-portrait-unknown-human-image-default-avatar-profile-flat-icon-184330869.jpg" alt="avatar" />
    </p>

    <p>
      <span class="headline">Hero Name:</span>
      <span>&emsp;&emsp;{{ hero?.name }}</span>
    </p>

    <p>
      <span class="headline">Description:</span><br/>
      <span>{{ hero?.description }}</span>
    </p>

    <p>
      <span class="headline">Powers:</span><br/>
      <span>{{ hero?.powers }}</span>
    </p>
  </ng-container>
</div>
